section {
  display: flex;
  flex-direction: column;
  background-color: hsl(216, 12%, 8%);
  gap: 5rem;
  padding: 3rem;
  width: 50rem;
  height: 55rem;
  border-radius: 20px;
}

.imagediv {
  display: flex;
  justify-content: center;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.imagediv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1rem;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 2rem;
  line-height: 3rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buttons button {
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.buttons button:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
}

.submit {
  font-family: inherit;
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  width: 100%;
  padding: 1.5rem;
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(216, 12%, 8%);
}

button:active {
  opacity: 0.7;
}

@media screen and (max-width: 48rem) {
  section {
    padding: 3rem;
    width: 35rem;
    height: 40rem;
    border-radius: 15px;
    gap: 3rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .buttons {
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .buttons button {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .submit {
    padding: 1rem;
    font-size: 1.7rem;
  }
}
