.resultSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(216, 12%, 8%);
  gap: 5rem;
  padding: 3rem;
  width: 50rem;
  height: 55rem;
  border-radius: 20px;
}
.selected {
  color: hsl(25, 97%, 53%);
}

@media screen and (max-width: 48rem) {
  .resultSection {
    padding: 3rem;
    width: 35rem;
    height: 35rem;
    border-radius: 15px;
    gap: 3rem;
  }
}
